<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = 'about';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="subpage subpage--about">
	<%- include( '_include/header.ejs' ); %>
	<main>
		<section class="mv ">
			<div class="mv__img">				
				<span class="mv__index--en js-effect">
					<span>A</span><span>B</span><span>O</span><span>U</span><span>T</span>
			</div>
			<div class="wrap">
				<h1 class="mv__index--ja">施設概要</h1>
			</div>
		</section>
		<section class="section section--intro">
			<div class="wrap">
				AOMORI STARTUP CENTERは、起業・創業、企業の第二創業、事業承継などの経営全般に関する相談ができる空間です。<br>
				青森市をより元気にするため、多種多様な人たちが集い、リラックスしながら新しい価値を生みだす拠点となること、また、様々な業種、業態の開業、起業を志す人々が集い、交流しながら、お互いを高め合う場となることを目指しています。<br>
				また、あおもり地域ビジネス交流センターも入居し、起業・創業支援の専門家である、インキュベーションマネジャーも常駐しておりますので、「いつか起業したい」、「具体的なアイデアがある」、「資金調達をしたい」、「仲間を探したい」、「起業後のご相談」など様々な段階で本センターをご活用ください。
								
			</div>
		</section>
		<section class="section section--intro">
			<div class="wrap">
				
			</div>
		</section>		
		<section class="section section--services">
			<div class="wrap">
				<ul class="services">
					<li class="service">
						<figure class="service__icon"><img src="<%- $path %>../img/about-services-business.svg" width="90" alt=""></figure>
						<h3 class="service__index">
							ああああ
						</h3>
						<div class="service__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, consectetur! Quo dolor suscipit explicabo laudantium alias, animi non voluptatum incidunt, eum accusamus. Enim, delectus, animi. Ipsam hic dolorum a consectetur.
						</div>
					</li>
					<li class="service">
						<figure class="service__icon"><img src="<%- $path %>../img/about-services-business.svg" width="90" alt=""></figure>
						<h3 class="service__index">
							ああああ
						</h3>
						<div class="service__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, consectetur! Quo dolor suscipit explicabo laudantium alias, animi non voluptatum incidunt, eum accusamus. Enim, delectus, animi. Ipsam hic dolorum a consectetur.
						</div>
					</li>
					<li class="service">
						<figure class="service__icon"><img src="<%- $path %>../img/about-services-business.svg" width="90" alt=""></figure>
						<h3 class="service__index">
							ああああ
						</h3>
						<div class="service__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, consectetur! Quo dolor suscipit explicabo laudantium alias, animi non voluptatum incidunt, eum accusamus. Enim, delectus, animi. Ipsam hic dolorum a consectetur.
						</div>
					</li>
					<li class="service">
						<figure class="service__icon"><img src="<%- $path %>../img/about-services-business.svg" width="90" alt=""></figure>
						<h3 class="service__index">
							ああああ
						</h3>
						<div class="service__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, consectetur! Quo dolor suscipit explicabo laudantium alias, animi non voluptatum incidunt, eum accusamus. Enim, delectus, animi. Ipsam hic dolorum a consectetur.
						</div>
					</li>
				</ul>
			</div>
		</section>
	</main>

	<%- include( '_include/footer.ejs' ); %>
</body>
</html>