<% 
	include( '_include/_function.ejs' );
	$path = './';
	$meta.title = '施設概要｜青森県の経営,創業,企業相談｜AOMORI STARTUP CENTER';
	$meta.description = 'AOMORI STARTUP CENTERは駅前の最適な立地、快適な環境、充実の支援を兼ね備え、起業・経営相談・施設のご利用・起業や経営、就職に役立つイベントの開催も行っています';
	$active = 'about';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="subpage subpage--about">
	<%- include( '_include/header.ejs' ); %>
	<main>
		<section class="mv ">
			<div class="mv__img">				
				<span class="mv__index--en js-effect">
					<span>A</span><span>B</span><span>O</span><span>U</span><span>T</span>
			</div>
			<div class="wrap">
				<h1 class="mv__index--ja">施設概要</h1>
			</div>
		</section>
		<section class="section section--intro">
			<div class="wrap">
				<div class="inner">
					AOMORI STARTUP CENTERは、起業・創業、企業の第二創業、事業承継などの経営全般に関する相談ができる空間です。<br>
					青森市をより元気にするため、多種多様な人たちが集い、リラックスしながら新しい価値を生みだす拠点となること、また、様々な業種、業態の開業、起業を志す人々が集い、交流しながら、お互いを高め合う場となることを目指しています。<br>
					あおもり地域ビジネス交流センターも入居し、起業・創業支援の専門家である、インキュベーションマネジャーも常駐しておりますので、「いつか起業したい」、「具体的なアイデアがある」、「資金調達をしたい」、「仲間を探したい」、「起業後のご相談」など様々な段階で本センターをご活用ください。
				</div>
								
			</div>
		</section>
		<section class="section section--quality">
			<div class="wrap">
				<h2 class="section__index js-effect"><span><span>QUALITY</span></span></h2>
				<div class="section__content">
					<article class="quality inner">
						<h3 class="quality__index">最適な立地</h3>
						<div class="quality__content">
							県都青森市の“顔”である青森駅前に立地。
						</div>
					</article>
					<article class="quality inner">
						<h3 class="quality__index">快適な環境</h3>
						<div class="quality__content">
							自由に、ミーティングや共同作業に利用できるほか、センター全体を使いイベントやセミナー、ワークショップを開催するなど、フレキシブルに用途を変えて使用できます。 スタートアップを目指す個人や企業が気軽に利用できる「コワーキングスペース」、飲食のワークショップやイベントが開催できる「ワークショップキッチン」なども整備しています。
						</div>
					</article>
					<article class="quality inner">
						<h3 class="quality__index">充実の支援</h3>
						<div class="quality__content">
							 起業・創業に関わるインキュベーションマネジャーや青森商工会議所職員が常駐し、ワンストップの支援をご提供します。
						</div>
					</article>
				</div>
				
			</div>
		</section>		
		<section class="section section--services">
			<div class="wrap">
				<h2 class="section__index js-effect">
					<span><span>SERVICES</span></span>
				</h2>
				<ul class="services">
					<li class="service">
						<figure class="service__img"><img src="<%- $path %>../img/about-services-business.svg" width="90" alt=""></figure>
						<h3 class="service__index">
							起業相談
						</h3>
						<div class="service__text">
						 相談者とともに起業の構想を具体化するために、起業・創業の専門家であるインキュベーションマネジャー
						が、無料相談に応じます。
						</div>
					</li>
					<li class="service">
						<figure class="service__img"><img src="<%- $path %>../img/about-services-management.svg" width="90" alt=""></figure>
						<h3 class="service__index">
							 経営相談

						</h3>
						<div class="service__text">
						 事業承継や融資など、さまざまな経営改善のご相談を受け付けています
						</div>
					</li>
					<li class="service">
						<figure class="service__img"><img src="<%- $path %>../img/about-services-use.svg" width="90" alt=""></figure>
						<h3 class="service__index">
							施設の利用
						</h3>
						<div class="service__text">
							<dl class="service__table">
								<dt>
									営業時間
								</dt>
								<dd>
									平日　10：00～20：00 <br> 土曜　13：00～18：00 <br> 日祝・年末年始　休業
								</dd>
							</dl>
							<dl class="service__table">
								<dt>
									 直通電話番号
								</dt>
								<dd>
									 017-718-5377
								</dd>
							</dl>
							<div class="service__attention">
								施設利用者はWi-Fiの無料利用が可能です。<br>
								※イベントやワークショップの開催、スタートアップブースへの出店は事前の申し込みが必要となります。詳しくは、利用申請についてのページをご覧ください。
							</div>
						</div>
					</li>
					<li class="service">
						<figure class="service__img"><img src="<%- $path %>../img/about-services-events.svg" width="90" alt=""></figure>
						<h3 class="service__index">
							 起業や経営、就職に役立つ<br>イベントの開催

						</h3>
						<div class="service__text">
							 起業や経営、就職に役立つイベントやセミナーを開催します。 起業家の創業体験や、新しいテクノロジーの紹介、地域課題についての意見交流、税務や法務の手続きなどを学べるイベントなど様々な内容を企画しています。
						</div>
					</li>
				</ul>
			</div>
		</section>
		<%- include( '_include/_module-subpagefooter.ejs' ) %>
	</main>

	<%- include( '_include/footer.ejs' ); %>
</body>
</html>