<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = 'detail';
	$meta.title = '施設情報｜青森県の経営,創業,企業相談｜AOMORI STARTUP CENTER';
	$meta.og.url = 'https://ao-sta.com/detail.html';
	$meta.description = '施設情報のページです｜AOMORI STARTUP CENTERは、青森市にある起業・創業、企業の第二創業、事業承継などの経営全般に関する相談ができる空間です。起業・創業に関わるインキュベーションマネジャーや青森商工会議所職員が常駐しワンストップの支援をご提供します。'
	$meta.og.description = '施設情報のページです｜AOMORI STARTUP CENTERは、青森市にある起業・創業、企業の第二創業、事業承継などの経営全般に関する相談ができる空間です。起業・創業に関わるインキュベーションマネジャーや青森商工会議所職員が常駐しワンストップの支援をご提供します。';
	$meta.twitter.description = '施設情報のページです｜AOMORI STARTUP CENTERは、青森市にある起業・創業、企業の第二創業、事業承継などの経営全般に関する相談ができる空間です。起業・創業に関わるインキュベーションマネジャーや青森商工会議所職員が常駐しワンストップの支援をご提供します。';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="subpage subpage--detail">
	<%- include( '_include/header.ejs' ); %>
	<main>
		<section class="mv ">
			<div class="mv__img">				
				<span class="mv__index--en js-effect">
                    <span>D</span><span>E</span><span>T</span><span>A</span><span>I</span><span>L</span>
                </span>
            </div>
			<div class="wrap">
				<h1 class="mv__index--ja">施設情報</h1>
			</div>
		</section>
		<section class="section section--imgs">
			<div class="wrap">
				<section class="imgDetail imgDetail--v js-effect">
					<div class="imgDetail__text">
						<h2 class="imgDetail__index">インフォメーションカウンター</h2>
						<div class="imgDetail__description">
							起業・創業や新しい商品・サービスといった新たな価値の創出を促すため、AOMORI STARTUP SENTERに所属する専門家の紹介や、青森商工会議所の相談窓口、支援メニューについてワンストップでご案内します。
						</div>
					</div>
					<div class="imgDetail__img">
						<figure class="imgDetail__img__area">
							<img src="<%- $path %>../img/detail-infomationcounter.jpg" width="500" alt="インフォメーションカウンター">
						</figure>
					</div>
				</section>
				<section class="imgDetail imgDetail--h js-effect">
					<div class="imgDetail__text">
						<h2 class="imgDetail__index">フューチャーセンター</h2>
						<div class="imgDetail__description">
							自由にミーティングや共同作業に利用したり、センター全体を使ってイベントやセミナー、ワークショップを行うなど、フレキシブルに用途を変えて使用するエリアです。可動テーブルや椅子、ホワイトテーブル、プロジェクターなどを組合わせて、様々なスタイルの場づくりができます
						</div>
					</div>
					<div class="imgDetail__img">
						<figure class="imgDetail__img__area">
							<img src="<%- $path %>../img/detail-futurecenter.jpg" width="650" alt="フューチャーセンター">
						</figure>
					</div>
				</section>
				<section class="imgDetail imgDetail--v js-effect">
					<div class="imgDetail__text">
						<h2 class="imgDetail__index">コワーキングカウンター</h2>
						<div class="imgDetail__description">
							 スタートアップを目指す個人や企業のワーカーが気軽に利用できるカウンター型のワークスペースを提供し、利用者間の繋がりを醸成します。

						</div>
					</div>
					<div class="imgDetail__img">
						<figure class="imgDetail__img__area">
							<img src="<%- $path %>../img/detail-coworkingcounter.jpg" width="500" alt="コワーキングカウンター">
						</figure>
					</div>
				</section>
				<section class="imgDetail imgDetail--h js-effect">
					<div class="imgDetail__text">
						<h2 class="imgDetail__index">ワークショップキッチン</h2>
						<div class="imgDetail__description">
							飲食サービスの創出にかかわるワークショップやイベントが開催可能なキッチンスペース。
						</div>
					</div>
					<div class="imgDetail__img">
						<figure class="imgDetail__img__area">
							<img src="<%- $path %>../img/detail-workshopkitchen.jpg" width="650" alt=ワークショップキッチン">
						</figure>
					</div>
				</section>
				<section class="imgDetail imgDetail--h js-effect">
					<div class="imgDetail__text">
						<h2 class="imgDetail__index">スタートアップブース</h2>
						<div class="imgDetail__description">
							起業・創業、新商品・サービスの期間限定のショップを開設できるスペースです。 創業間もない、スタートアップに意欲ある事業者へ期間限定の事務所としてもご活用いただけます。 ブースは３つあり、１つにはシンクを設置しているため、飲食サービス事業者様もご利用可能です。
				
						</div>
					</div>
					<div class="imgDetail__img">
						<figure class="imgDetail__img__area">
							<img src="<%- $path %>../img/detail-startupbooth.jpg" width="650" alt="スタートアップブース">
						</figure>
					</div>
				</section>
				<section class="imgDetail imgDetail--h js-effect">
					<div class="imgDetail__text">
						<h2 class="imgDetail__index">インフォメーションギャラリー</h2>
						<div class="imgDetail__description">
							 ”りんご箱”をイメージして構成された展示グリッドウォール。正面エントランスからの空間において、青森で開発された商品やサービスのデモや試験販売が可能です。スタートアップにかかる情報やニュースの配信も行います。
						</div>
					</div>
					<div class="imgDetail__img">
						<figure class="imgDetail__img__area">
							<img src="<%- $path %>../img/detail-infomationgallery.jpg" width="650" alt="インフォメーションギャラリー">
						</figure>
					</div>
				</section>
				<section class="imgDetail imgDetail--v js-effect">
					<div class="imgDetail__text">
						<h2 class="imgDetail__index">相談コーナー</h2>
						<div class="imgDetail__description">
							 専門家による個別相談スペースを多様な形で準備しています。
						</div>
					</div>
					<div class="imgDetail__img">
						<figure class="imgDetail__img__area">
							<img src="<%- $path %>../img/detail-soudan.jpg" width="500" alt="相談コーナー">
						</figure>
					</div>
				</section>
			</div>
		</section>
	
		<%- include( '_include/_module-subpagefooter.ejs' ) %>
	</main>

	<%- include( '_include/footer.ejs' ); %>
</body>
</html>