<% 
	include( '_include/_function.ejs' );
	$path = './';
	$meta.title='AOMORI START UP CENTER 青森スタートアップセンターは出会った仲間と一緒に、自由なアイデアを生む空間です。'
	$active = 'top';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="top">
	<%- include( '_include/header.ejs' ); %>
	<main>
		<section class="mv">
			<div class="mv__imgs">
				<div class="mv__img">
					<img src="<%- $path %>/../img/top-mv-1.jpg" srcset="/assets/img/_sp/top-mv-1.jpg 768w, /assets/img/top-mv-1.jpg" alt="">
				</div>
				<div class="mv__img">
					<img src="<%- $path %>/../img/top-mv-2.jpg" srcset="/assets/img/_sp/top-mv-2.jpg 768w, /assets/img/top-mv-2.jpg" alt="">
				</div>
				<div class="mv__img">
					<img src="<%- $path %>/../img/top-mv-3.jpg" srcset="/assets/img/_sp/top-mv-3.jpg 768w, /assets/img/top-mv-3.jpg" alt="">
				</div>
			</div>
		</section>
		<section class="section section--copy js-effect">
			<div class="wrap">
				<div class="copy">
					<div class="copy__en">
						<div class="copy__en__row">
							<span>AOMORI</span>
						</div>
						<div class="copy__en__row">
							<span>STARTUP</span>
						</div>
						<div class="copy__en__row">
							<span>CENTER</span>
						</div>
					</div>
					<div class="copy__ja">
						<span>そ</span><span>の</span><span>情</span><span>熱</span><span>は</span><br class="-only-tab"><span>集</span><span>ま</span><span>る</span><span>こ</span><span>と</span><span>で</span><span>加</span><span>速</span><span>す</span><span>る</span>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--intro">
			<div class="wrap">
				<h1 class="section--intro__copy">
					 “AOMORI STARTUP CENTER”は、<br>
					 出会った仲間と一緒に、自由なアイデアを生む空間です。
				</h1>
				<div class="button">
					<a href="about.html">施設概要</a>
				</div>
			</div>
		</section>
		<article class="section section--concept js-effect">
			<div class="wrap">
				<h2 class="section__index">
					<div><span>AOMORI</span></div>
					<div><span>STARTUP</span></div>
					<div><span>CENTER</span></div>
					<div><span>CONCEPT</span></div>
				</h2>
				<div class="conceptParagraph">
					最初の「あ」<br>
					あおもりの「あ」<br>
					あいうえお、ABC、阿と吽。<br>
					国が違っても最初は「あ」<br>
					どんな大きな会社だって、どんなに優れた会社だって最初の「あ」は、ささやかで、 <br>
					無限の未来を前に、ひっそりと熱を保って佇んでいる。<br>
					AOMORI STARTUP CENTERは、起業をめざす人々が、<br>
					最初の「あ」を起動するための様々なお手伝いをする場所。<br>
					いろいろな才能が集まって、新たな「あ」を喚起して、はじまる場所。<br>
					最初の「あ」を応援して、たくましく鍛え、不可能を可能にする場所。<br>
					起業家が大海原に向けて出航する準備をする場所。
				</div>
				<div class="conceptParagraph">
					青森という地名は、海辺の青い森（丘）を目指して、舟が港へとやってきたことからはじまった。<br>
					近代日本を築いたフロンティアとしての港に位置するこの磁場に相応しく、社会に新しい価値を切り開く船出の場所、それがAOMORI STARTUP CENTERです。<br>
					そしてこの場所は、起業家のためだけの場所ではありません。<br>
					この土地に暮らす人々の自宅や職場にならぶ、もうひとつの居場所となり、この土地を訪れる旅人が、地元の人たちと交流を深め青森に惚れてしまう場所でもあります。<br>
					起業は、起業家の強い意志とともにありますが、同時にその先には地域があり、みんなの幸福があり愛があるのです。
				</div>
				<div class="conceptParagraph">
				AOMORI STARTUP CENTERは、青森を愛する全ての人たちの知恵と力を結集して、地域の、日本の、そして世界の未来について考え、起業家にエールを送り、地域に元気と愛を与える場所です。
				最初の「あ」、あおもりの「あ」。幸せをもたらす「あ」っと驚くことがきっと起こる。
				AOMORI STARTUP CENTERは、この街から人々の幸福がスタートアップすることを目指します。
				</div>
			</div>
			<i class="section--concept__a">
				<svg class="js-effect" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1787.3 1419.03">
					<path d="M0,72.42V0L1787.3,669v81L0,1419v-72.42l534-198.86V271.28ZM600.27,1123.2,1707.5,709.52,600.27,295.84Z"
					/>
				</svg>
			</i>
			<div class="section--concept__location"></div>
		</article>
		<section class="section section--contentsColmun">
			<div class="wrap">
				<section class="section section--schedule">
					<header>
						<h2 class="section__index js-effect">
							 <span><span>SCHEDULE</span></span><br>
							 <span class="section__index__description">
								 <span>会館セミナー、イベントカレンダー</span>
							 </span>
						</h2>
					</header>
					<div class="section__content">
						<div id='calendar'></div>
						<div class="button">
							<a href="contact.html">利用についてのお問い合わせ</a>
						</div>
					</div>
				</section>
				<section  class="section section--information">
					<header>
						<h2 class="section__index js-effect">
							<span><span>INFORMATION</span></span>
						</h2>
					</header>
					<div class="section__content">
						<div class="fb-page" data-href="https://www.facebook.com/aostacenter/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true"
					 data-hide-cover="false" data-show-facepile="false">
						<blockquote cite="https://www.facebook.com/aostacenter/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/aostacenter/">Aomori Startup Center</a></blockquote>
					</div>
					</div>
				</section>
			</div>
		</section>
		<section class="section section--access">
			<div class="wrap">
				<header>
					<h2 class="section__index js-effect">
						<span><span>ACCESS</span></span>
					</h2>
				</header>
				<div class="section__content">
					<div class="accessMap">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.0527118313225!2d140.73281541606372!3d40.82680583851956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9b9f1ec6adfff1%3A0xec0d95d468717b79!2z44CSMDMwLTA4MDEg6Z2S5qOu55yM6Z2S5qOu5biC5paw55S677yR5LiB55uu77yS4oiS77yR77yY!5e0!3m2!1sja!2sjp!4v1535176519156"
						 width="1230" height="440" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--relationship">
			<div class="wrap">
				<header>
					<h2 class="section__index js-effect">
						 <span><span>RELATIONSHIP</span></span>
					</h2>
				</header>
				<div class="section__content">
					<ul class="relashionship">
						<li><a href=""><img src="<%- $path %>/../img/top-relation-banner-aobusi.jpg" width="210" alt=""></a></li>
						<li><a href=""><img src="<%- $path %>/../img/top-relation-banner-chusho.jpg" width="210" alt=""></a></li>
						<li><a href=""><img src="<%- $path %>/../img/top-relation-banner-shinyohosho.jpg" width="210" alt=""></a></li>
						<li><a href=""><img src="<%- $path %>/../img/top-relation-banner-jfc.jpg" width="210" alt=""></a></li>
						<li><a href=""><img src="<%- $path %>/../img/top-relation-banner-21.jpg" width="210" alt=""></a></li>
					</ul>
				</div>
			</div>
		</section>


	</main>

	<%- include( '_include/footer.ejs' ); %>

</body>
</html>